
!  reload xterm: $ xrdb -merge ~/.Xresources

!  enable color suport
XTerm.termName: xterm-256color

!  set exterm window size
XTerm*VT100.geometry: 80x25

!  set font
xterm*faceName: Noto Sans Regular:size=10

!  select text
XTerm*highlightSelection: true
! remove trailing space
XTerm*trimSelection: true

!  scrollbar
XTerm*vt100.scrollbar: false

!  save lines; shift + pageup / shift + page down or mousewheel by default
xterm*saveLines: 2000

! color scheme
xterm*background: #0a0e14 
xterm*foreground: #cbccc6

xterm*cursorColor: #FFFFFF

!  copy and paste
XTerm*selectToClipboard: true

! keybindings
xterm*VT100.Translations: #override \
  <Btn1Up>: select-end(PRIMARY, CLIPBOARD, CUT_BUFFER0) \n\
  Ctrl Shift <KeyPress> V: insert-selection(CLIPBOARD, CUT_BUFFER0, PRIMARY)
